.alert{
    text-align: center;
    display: none;
}
.button{
    display: flex;
    justify-content: center;
}
.show{
    display: block;
}
.btn-danger{
    text-align: center;
}
.hidden{
    display:none;
}