.alert-success, .alert-danger, .alert-info{
    display: none;
}

.alert_show{
    display: flex;
    justify-content: center;
}
tr{
    display: flex;

}
.fas{
justify-items: center;
    justify-content: center;
}